{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tariff/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/d4ba956000788edd-s.p.ttf' %}">
    {% endblock %}
</head>
<body class="body">
{% block content %}

<div class="container">
    <div class="billingRate_content__ECWKz">
    <div class="billCard_outer_box__A6SVE">
        <div class="billCard_container__PiEuT billCard_up__ccFPW"><p class="billCard_title__7L7nH __className_ddc55b">
            Level-up</p>
            <ul class="billCard_info___9HJL">
                <li>3 курса видеоуроков</li>
                <li> чат с куратором 24/7</li>
            </ul>
            <div class="billCard_pricing__kUbdq"><p class="billCard_price_tag__wozbA">Стоимось обучения</p><span
                    class="billCard_old_price__VgUVx"><span class="billCard_line_through__Tz9YM">400</span>$</span><span
                    class="billCard_new_price__2qsrx">120$</span></div>
            <button class="billCard_button__132DM"><a href="#">Купить</a><span class="billCard_border__8Oeji"></span>
            </button>
        </div>
        <div class="billCard_up_border___cRyw"></div>
    </div>
    <div class="billCard_outer_box__A6SVE">
        <div class="billCard_container__PiEuT billCard_pro__t12jU"><p class="billCard_title__7L7nH __className_ddc55b">
            Pro-level</p>
            <ul class="billCard_info___9HJL">
                <li>3 курса видеоуроков</li>
                <li> чат с куратором 24/7</li>
                <li>созвон с куратором раз в неделю</li>
                <li>мы находим заказ вам на 30$ - 50$</li>
            </ul>
            <div class="billCard_pricing__kUbdq"><p class="billCard_price_tag__wozbA">Стоимось обучения</p><span
                    class="billCard_old_price__VgUVx"><span
                    class="billCard_line_through__Tz9YM">1000</span>$</span><span
                    class="billCard_new_price__2qsrx">300$</span></div>
            <button class="billCard_button__132DM"><a href="#">Купить</a><span class="billCard_border__8Oeji"></span>
            </button>
        </div>
        <div class="billCard_pro_border__G_pd2"></div>
    </div>
    <div class="billCard_outer_box__A6SVE">
        <div class="billCard_container__PiEuT billCard_ultra__LQVlY"><p
                class="billCard_title__7L7nH __className_ddc55b">Ultra-level</p>
            <ul class="billCard_info___9HJL">
                <li>3 курса видеоуроков</li>
                <li> чат с куратором 24/7</li>
                <li>созвон с куратором раз в неделю</li>
                <li>мы находим заказ вам на 100$</li>
                <li>мы создадим вам уникальный веб-сайт с вашим резюме и портфолио</li>
            </ul>
            <div class="billCard_pricing__kUbdq"><p class="billCard_price_tag__wozbA">Стоимось обучения</p><span
                    class="billCard_old_price__VgUVx"><span
                    class="billCard_line_through__Tz9YM">1666</span>$</span><span
                    class="billCard_new_price__2qsrx">500$</span></div>
            <button class="billCard_button__132DM"><a href="#">Купить</a><span class="billCard_border__8Oeji"></span>
            </button>
        </div>

    </div>
</div>
</div>
{% endblock %}
</body>
</html>

